### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Compiled ###
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Logs ###
*.log
hs_err_pid*
replay_pid*

### IDE ###
.idea/
*.iws
*.iml
*.ipr
out/
